doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='中国史上各朝各代书法名家的书法碑帖')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js')
  body
    include ./includes/nav.jade

    block content

    block footer
        footer#footer
            #footer-info &copy; shufabeitie.com 沪ICP备15020815号